/* general */
h1{
    text-align: center;
    background-color: pink;
    border-radius: 5%;
    border: 0.1em solid black;
    padding: 1px;
    margin: 25px 35%;
}
body{
    text-justify: auto;
    background-color: #2B2A33;
}

/* classes */
.link{
    border: 1px rgb(0, 0, 0);
    flex: 1;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    text-decoration: none;
    color: #00cccc;
}

/* main component in class/id */

/* id */

#main-links {
    border: 1px solid rgb(189, 185, 185);
    box-shadow: 0 2px 4px #000000;
    display: flex;
    margin: 25px 40%;
}


/* CHAT-GPT */
.container {
    display: grid;
    grid-template-columns: 25% 40% 25%;
    grid-gap: 5%;
}

.column {
    background-color: lightgray;
    text-align: center;
    font-size: 18pt;
}

.content1 {
    grid-column: 1 / span 1;
    background-color: white;
}

.content1 p{
    margin-left: 5%;
    margin-right: 5%;
}

.content2 {
    grid-column: 2 / span 1;
}

.content3 {
    grid-column: 3 / span 1;
}

.content3 p{
    margin-left: 5%;
    margin-right: 5%;
}

.container p {
    word-wrap: break-word;
    color: white;
    text-align: justify;
}
