/* general */
h1{
    text-align: center;
    background-color: #15a1ff;
    border-radius: 2%;
    border: 0.1em solid black;
    padding: 1px;
    margin: 25px 35%;
}
body{
    text-justify: auto;
    background-color: #0b003b;
}

/* classes */
.link{
    border: 1px rgb(0, 0, 0);
    flex: 1;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    text-decoration: none;
    color: #00cccc;
}

/* id */
#main {
    padding: 1px;
    border: 00.1em whitesmoke;
    margin: 15px 5%;
    text-align: center;
}

#ascii {
    color: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: "Courier New", Courier, monospace;
    font-size: 14px;
    line-height: 1.5;
    overflow-x: auto; /* Per consentire lo scorrimento orizzontale se necessario */
}

#main-links {
    border: 1px solid rgb(189, 185, 185);
    box-shadow: 0 2px 4px #000000;
    display: flex;
    margin: 25px 40%;
}


